Checks: >
  *,
  -altera-id-dependent-backward-branch,
  -altera-struct-pack-align,
  -altera-unroll-loops,
  -android-cloexec-fopen,
  -bugprone-easily-swappable-parameters,
  -bugprone-suspicious-include,
  -concurrency-mt-unsafe,
  -cppcoreguidelines-avoid-c-arrays,
  -cppcoreguidelines-avoid-magic-numbers,
  -cppcoreguidelines-macro-usage,
  -cppcoreguidelines-no-malloc,
  -cppcoreguidelines-owning-memory,
  -cppcoreguidelines-pro-*,
  -cppcoreguidelines-special-member-functions,
  -fuchsia-overloaded-operator,
  -google-explicit-constructor,
  -google-readability-casting,modernize-avoid-c-style-cast,
  -google-readability-todo,
  -hicpp-*,
  -llvm-header-guard,
  -llvm-qualified-auto,
  -llvmlibc-callee-namespace,
  -llvmlibc-implementation-in-namespace,
  -llvmlibc-inline-function-decl,
  -llvmlibc-restrict-system-libc-headers,
  -misc-include-cleaner,
  -misc-non-private-member-variables-in-classes,
  -misc-use-anonymous-namespace,
  -misc-use-internal-linkage,
  -modernize-avoid-c-arrays,
  -modernize-avoid-c-style-cast,
  -modernize-deprecated-headers,
  -modernize-loop-convert,
  -modernize-use-designated-initializers,
  -modernize-use-nullptr,
  -modernize-use-trailing-return-type,
  -modernize-use-using,
  -readability-braces-around-statements,
  -readability-function-cognitive-complexity,
  -readability-identifier-length,
  -readability-magic-numbers

ExcludeHeaderFilterRegex: '/usr/include/gentoo'