Checks: >
  *,
  -altera-id-dependent-backward-branch,
  -altera-struct-pack-align,
  -altera-unroll-loops,
  -bugprone-easily-swappable-parameters,
  -cppcoreguidelines-avoid-c-arrays,
  -cppcoreguidelines-avoid-magic-numbers,
  -cppcoreguidelines-pro-bounds-pointer-arithmetic,
  -cppcoreguidelines-pro-type-cstyle-cast,
  -cppcoreguidelines-pro-type-vararg,hicpp-vararg,
  -fuchsia-overloaded-operator,
  -google-readability-casting,modernize-avoid-c-style-cast,
  -google-readability-todo,
  -hicpp-avoid-c-arrays,
  -hicpp-use-nullptr,
  -hicpp-vararg,
  -llvm-qualified-auto,
  -llvmlibc-callee-namespace,
  -llvmlibc-implementation-in-namespace,
  -llvmlibc-restrict-system-libc-headers,
  -misc-include-cleaner,
  -misc-use-anonymous-namespace,
  -misc-use-internal-linkage,
  -modernize-avoid-c-arrays,
  -modernize-avoid-c-style-cast,
  -modernize-use-nullptr,
  -modernize-use-trailing-return-type,
  -modernize-use-using,
  -readability-function-cognitive-complexity,
  -readability-identifier-length,
  -readability-magic-numbers

# CheckOptions:
#   - key:   misc-include-cleaner.MissingIncludes
#     value: false
#   - key:   misc-include-cleaner.UnusedIncludes
#     value: false

ExcludeHeaderFilterRegex: '/usr/include/gentoo'